@import "variables";

body {
    margin: 0;
    padding: 0;
    font-family: $standardFont;
    background: $mainBackground;
}

body > header, body > footer {
    background: $mainRed;
    color: $textOnMainRed;
}

body > header a, body > footer a {
    color: $textOnMainRed;
    text-decoration: none;
}

body > footer {
    text-align: center;
    @include upperBorder("../img/red_circles.svg");
}

body > header {
    background: $titleGradient;
    height: 17em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.home_links {
    font-family: $titlesFont;
    font-size: larger;
}

img.icon, #menu_icon, img.profile_icon {
    max-height: 50px;
}

#home {
    display: none;
    flex-basis: 15%;
    max-height: 25%;
}

#logo {
    max-width: 100%;
    padding: 3% 1%;
}

#menu_icon {
    cursor: pointer;
    flex-basis: 20%;
    max-width: 20%;
}

header > a {
    max-width: 60%;
    flex-basis: 60%;
}

/* title */
main > section > img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 13%;
    z-index: -1;
}

main > section > h1 { // TODO: this is horrible on real mobile devices
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    text-align: center;
    font-family: $titlesFont;
    color: $textOnMainRed;
    font-size: 200%;
    padding: 40px 0px;
    box-shadow: $boxShadows;
}

/* search */

form, input {
    color: $formText;
}

#main_search {
    width: 100%;
    text-align: center;
}

#main_search > input {
    width: 70%;
    height: 2em;
    border-radius: 2em;
    box-shadow: $boxShadows;
    border: 0px; 
    text-indent: 2.5em;  
}

#main_search > label {
    position: relative;
    left: 2em;
    top: 0.3em;
}

#main_search > label > img {
    height: 1.25em;
}

/* main section */
main > p, main > section:last-child {
    @include upperBorder("../img/pink_circles.svg");
    
}

/* menu */
header > nav {
    display: none;
    background: $mainRed;
    flex-basis: 100%;
    width: 100%;
    z-index: 1;
}

header > nav > ul {
    padding-inline-start: 0;
}

header > nav > ul > li {
    list-style: none;
    padding: 10px 0px;
    margin: 0 20px;
}

header > nav > ul > li:not(:last-of-type) {
    border-bottom: thin solid $textOnMainRed;
}

header > nav > ul > li > a {
    width: inherit;
    display: block;
}

header > nav > ul > li > a > p {
    display: inline-block;
}

header > nav > ul > li > a > img, header > nav > ul > li > a > p {
    vertical-align: middle;
    margin: 2px 5px;
}

#profile_photo_img {
    max-height: 100px;
}

a.button > img, button > img {
    background: $mainRed;
}