@import "variables";

// TODO:
// nav is outside header
// header zi is 0, nav button zi is 2, h1 button is 1, img zi is -1
// nav button floats
// nav ul I fucking don't know what it does

body {
    margin: 0;
    padding: 0;
    font-family: $standardFont;
    background: $mainBackground;
}

body > header, body > footer {
    background: $mainRed;
    color: $textOnMainRed;
    width: 100%;
}

body > header a, body > footer a {
    color: $textOnMainRed;
    text-decoration: none;
}

body > footer {
    text-align: center;
    @include upperBorder("../img/red_circles.svg");
}

body > header {
    background: $titleGradient;
    height: 17em;
    position: absolute;
    z-index: 0;
}

.home_links {
    font-family: $titlesFont;
    font-size: larger;
}

img.icon, #menu_icon, img.profile_icon {
    max-height: 50px;
}

#home {
    display: none;
    max-width: 15%;
    max-height: 25%;
}

#logo {
    max-width: 65%;
    max-height: 4em;
    padding: 3% 1%;
}

#menu_icon {
    cursor: pointer;
    max-width: 20%;
}

header > a {
    max-width: 60%;
}

/* title */
section.home:first-of-type > img {
    width: 100%;
    float: left;
    margin: 15% 0 0 0;
    max-height: 20em;
}

section.home:first-of-type > h1 {
    position: absolute;
    width: 80%;
    margin: 10% 10% 0 10%;
    text-align: center;
    font-family: $titlesFont;
    color: $textOnMainRed;
    font-size: 2em;
    padding: 40px 0px;
    box-shadow: $boxShadows;
    z-index: 1;
}

/* search */
form, input {
    color: $formText;
}

#main_search {
    width: 100%;
    text-align: center;
    position: relative;
    top: -5em;
}

#main_search > input {
    width: 70%;
    height: 2em;
    border-radius: 2em;
    box-shadow: $boxShadows;
    border: 0px; 
    text-indent: 2.5em;  
}

#main_search > label {
    position: relative;
    left: 2em;
    top: 0.3em;
}

#main_search > label > img {
    height: 1.25em;
}

/* main section */
main > p, main > section:last-child { // TODO: test this with events in homepage
    @include upperBorder("../img/pink_circles.svg");
    padding: 5% 0;
    width: 100%;
    text-align: center;
    position: relative;
    top: -2.75em;
    color: $mainText;
}

/* menu */
nav {
    float: right;
    width: 100%;
    text-align: right;
    position: relative;
    z-index: 3;
}

nav > ul {
    display: none;
    background: $mainRed;
    width: 100%;
    padding-inline-start: 0;
    text-align: left;
}

nav > ul > li {
    list-style: none;
    padding: 10px 0px;
    margin: 0 20px;
}

nav > ul > li:not(:last-of-type) {
    border-bottom: thin solid $textOnMainRed;
}

nav > ul > li > a {
    width: inherit;
    display: block;
    color: $textOnMainRed;
    text-decoration: none;
}

nav > ul > li > a > p {
    display: inline-block;
}

nav > ul > li > a > img, nav > ul > li > a > p {
    vertical-align: middle;
    margin: 2px 5px;
}

#profile_photo_img {
    max-height: 100px;
}

a.button > img, button > img {
    background: $mainRed;
}